* {
    margin: 0;
    width: auto;
}

@media screen and (min-width: 991px) {
    body, main, .parapage2, .blockcontact, .secondblock, .carousel {
        margin-left: auto;
        margin-right: auto;
    }
    main {
        max-width: 80%;
    }
    .secondblock {
        align-content: center;
    }
    .thirdblock {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .carousel {
        justify-content: center;
    }
    .carrimg {
        max-height: 700px;
        object-fit: cover;
    }
    .parapage2, .blockcontact, .secondblock {
        max-width: 75%;
    }
}